<%- include ('components/_header') %>
<!-- <div id="splash"><img src="/images/splash.jpg" width="100%" alt="RECRUIT" onClick="goContents()"></div> -->
<!-- <div id="wrapper" style="display: none;"> -->

<div id="wrapper">
  <div id="content">
    <p id="mainImg">
      <img src="/images/main_r1.jpg" alt="大人女子専門ヘアサロン" />
    </p>
    <!-- INDEX -->
    <div class="index_block" id="index01">
      <div class="index_block__inner">
        <ul class="index_block__list">
          <li class="index_block__item">
            <a href="#VOICE">スタッフの声</a>
          </li>
          <li class="index_block__item">
            <a href="#FLOW">1日の流れ</a>
          </li>
          <li class="index_block__item">
            <a href="#RECRUIT">募集要項</a>
          </li>
          <li class="index_block__item">
            <a href="#FLOW">採用までの流れ</a>
          </li>
          <li class="index_block__item">
            <a href="#QA">よくある質問</a>
          </li>
          <li class="index_block__item">
            <a href="#APPLY">問い合わせ</a>
          </li>
        </ul>
        <div class="index_block__line">
          <a href="https://lin.ee/6Lr3DTg" target="_blank"><span>サロン見学希望・働き方の相談、質問はこちらに</span> </a>
        </div>
      </div>
    </div>
    <!-- //INDEX -->
    <!-- INTRO -->
    <section id="INTRO">
      <div class="inner">
        <div class="article">
          <h2>プライベートも大切にしながら美容師を楽しんで続けませんか？</h2>
          <div class="INTRO_contents">
            <div class="troubleTop">
              <p>
                1//jourはオトナ女性美容師さんのためのヘアサロン。<br />
                今まで頑張ってきた女性美容師さんが、仕事も自分の生活も大切にできる職場です。
              </p>
              <p>
                結婚・出産・育児や介護など様々な人生の変化や<br />
                キャリアと共に重ねる年齢や自身の体調の変化など<br />
                これからの美容師人生にちょっと不安を感じている方は多いのではないでしょうか？<br />
                1//jourはそんな女性美容師さんのために作られたサロンです。
              </p>
              <div class="showSp"><img src="/images/about_sp2.jpg" alt="1//jourはオトナ女性のためのサロンです。" /></div>
              <div class="job_block showPc">
                <ul class="job_block__list">
                  <li class="job_block__wrapper">
                    <div class="job_block__item job_block__item--blue">
                      イベント<br />時間外なし
                    </div>
                    <p class="job_block__text">ミーティングや練習会、会社主催の飲み会などでスタッフの時間を奪うことはありません！</p>
                  </li>
                  <li class="job_block__wrapper">
                    <div class="job_block__item job_block__item--yellow">
                      ブランク<br />OK
                    </div>
                    <p class="job_block__text">入社時の研修、営業時間内の勉強会でブランクのある方をしっかりフォロー。安心してお客様に対応できます！</p>
                  </li>
                  <li class="job_block__wrapper">
                    <div class="job_block__item job_block__item--pink">
                      ママ美容師<br />応援サロン
                    </div>
                    <p class="job_block__text">スタッフの半数がママ美容師。お互いの立場を理解してるからから助け合いがスムーズ。<br />
                      急なお休みもお互い様！</p>
                  </li>
                  <li class="job_block__wrapper">
                    <div class="job_block__item job_block__item--purple">
                      美容師としての<br />やりがい
                    </div>
                    <p class="job_block__text">１つの技術に特化したサロンではなく、美容師を楽しめ多くの顧客に喜ばれ選んで頂ける『美容師としてのやりがい』を大切にしています。</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="INTRO_contents__img"><img src="/images/about.jpg" alt="1//jourはオトナ女性のためのサロンです。" class="showPc" /><img src="/images/about_sp1.jpg" alt="1//jourはオトナ女性のためのサロンです。" class="showSp" /></div>
          </div>
          <div class="job_block showSp">
       <ul class="job_block__list">
                  <li class="job_block__wrapper">
                    <div class="job_block__item job_block__item--blue">
                      イベント<br />時間外なし
                    </div>
                    <p class="job_block__text">ミーティングや練習会、会社主催の飲み会などでスタッフの時間を奪うことはありません！</p>
                  </li>
                  <li class="job_block__wrapper">
                    <div class="job_block__item job_block__item--yellow">
                      ブランク<br />OK
                    </div>
                    <p class="job_block__text">入社時の研修、営業時間内の勉強会でブランクのある方をしっかりフォロー。安心してお客様に対応できます！</p>
                  </li>
                  <li class="job_block__wrapper">
                    <div class="job_block__item job_block__item--pink">
                      ママ美容師<br />応援サロン
                    </div>
                    <p class="job_block__text">スタッフの半数がママ美容師。お互いの立場を理解してるからから助け合いがスムーズ。<br />
                      急なお休みもお互い様！</p>
                  </li>
                  <li class="job_block__wrapper">
                    <div class="job_block__item job_block__item--purple">
                      美容師としての<br />やりがい
                    </div>
                    <p class="job_block__text">１つの技術に特化したサロンではなく、美容師を楽しめ多くの顧客に喜ばれ選んで頂ける『美容師としてのやりがい』を大切にしています。</p>
                  </li>
                </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- // INTRO -->
    <!-- VOICE -->
    <section id="VOICE">
      <div class="inner">
        <header>
          <h2>
            STAFF VOICE<span class="sub">1//jourで 働くスタッフの声</span>
          </h2>
        </header>
        <div class="article line">
          <h5>
            木村さんインタビュー<span class="sub">ー入社14年目/30代/正社員ー</span>
          </h5>
          <div class="VOICE__contents">
            <video controls src="/images/1215-kimura.mp4" type="video/mp4" muted playsinline poster="/images/pic_staff01.jpg"></video>
            <div class="VOICE__texts">
              <h4>
                《有休も好きな時の取れるので安く海外旅行に》
              </h4>
              <p>
                「小さなサロンですが、スタッフ同士の距離感が居心地良く働きやすいのが気に入ってます」<br />
                休みや労働時間など、常に働きやすい環境に改善してくれているのが嬉しいです。
              </p>
              <ul class="VOICE__list">
                <li class="VOICE__item">
                  <span>[お休み]</span>週休２日制
                </li>
                <li class="VOICE__item">
                  <span>[勤務時間]</span>フレックス
                </li>
                <li class="VOICE__item">
                  <span>[１日の担当]</span>５〜6人
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="article line">
          <h5>
            浅香さんインタビュー<span class="sub">ー入社8年目/40代/正社員ー</span>
          </h5>
          <div class="VOICE__contents">
            <video controls src="/images/1215-asaka.mp4" type="video/mp4" muted playsinline poster="/images/pic_staff02.jpg"></video>
            <div class="VOICE__texts">
              <h4>《子供の成長に合わせ社員転換しました》</h4>
              <p>
                ブランクありでパート復帰、その後に子ドミノ成長に合わせ社員転換しました。土日も子<br />
                供の都合だけでなく自分の楽しみで休みも取りやすく働きやすいです。
              </p>
              <ul class="VOICE__list">
                <li class="VOICE__item">
                  <span>[お休み]</span>週休２日制
                </li>
                <li class="VOICE__item">
                  <span>[勤務時間]</span>9:00〜17:00
                </li>
                <li class="VOICE__item">
                  <span>[１日の担当]</span>３〜5人
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="article line">
          <h5>
            重吉さんインタビュー<span class="sub">ー40代/パートー</span>
          </h5>
          <div class="VOICE__contents">
            <img src="/images/pic_staff03.jpg" alt="">
            <div class="VOICE__texts">
              <h4>《ママ美容師にも働きやすい環境です》</h4>
              <p>
                都心シェアサロンから子育てのために転職しました。マンツーマンで美容師としてのこだわりの仕事をしながら子供達との時間も作れ充実しています。
              </p>
              <ul class="VOICE__list">
                <li class="VOICE__item">
                  <span>[お休み]</span>毎週火曜日・隔週土日休み
                </li>
                <li class="VOICE__item">
                  <span>[勤務時間]</span>９:00〜16:00
                </li>
                <li class="VOICE__item">
                  <span>[１日の担当]</span>３〜4人
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="article line">
          <h5>
            齋藤さんインタビュー<span class="sub">ー30代/パートー</span>
          </h5>
          <div class="VOICE__contents">
            <img src="/images/pic_staff04.jpg" alt="">
            <div class="VOICE__texts">
              <h4>《急な休みも対応してもらってます》</h4>
              <p>
                産後に委託サロンで働いていましたが、子供の体調不良などの急な休みなどに対応してもらえず転職しました。ここは柔軟に対応してくれるので続けられてます。<br />
                営業内に講習会があるのでパートとしても助かります。
              </p>
              <ul class="VOICE__list">
                <li class="VOICE__item">
                  <span>[出勤日数]</span>週４日
                </li>
                <li class="VOICE__item">
                  <span>[勤務時間]</span>10:00〜15:00
                </li>
                <li class="VOICE__item">
                  <span>[１日の担当]</span>2〜3人
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="article">
          <h5>
            小高さんインタビュー<span class="sub">ー40代/社員ー</span>
          </h5>
          <div class="VOICE__contents">
            <img src="/images/pic_staff05.jpg" alt="">
            <div class="VOICE__texts">
              <h4>
                《将来の不安から他業種に、そして美容師復帰》
              </h4>
              <p>
                管理職に就き、時間拘束や体力的な辛さなどで美容師を辞めましたが復帰。<br />
                今は時間に追われずに仕事ができ、スタッフやお客様との年齢も近く働きやすいです。休みも自由に取れるのでプライベートも充実しています。
              </p>
              <ul class="VOICE__list">
                <li class="VOICE__item">
                  <span>[お休み]</span>週休２日
                </li>
                <li class="VOICE__item">
                  <span>[勤務時間]</span>9:00〜17:00
                </li>
                <li class="VOICE__item">
                  <span>[１日の担当]</span>3〜4人
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- // VOICE -->

    <!-- DAY -->
    <section id="DAY">
      <div class="inner">
        <header>
          <h2>
            the Day<span class="sub">jourでの１日の流れ（正社員）</span>
          </h2>
        </header>
        <ul class="col3">
          <li>
            <p class="ti">8:45 出勤・清掃・オープン準備</p>
            <p class="img">
              <img src="/images/day1.jpg" alt="8:45 出勤・清掃・オープン準備" />
            </p>
            <p>
              お客様を迎える簡単な清掃、個室店は自分の個室内を中心に清掃をします。朝礼などはないので保育園に送った後でも十分間に合います。
            </p>
          </li>
          <li>
            <p class="ti">9:00 営業開始</p>
            <p class="img">
              <img src="/images/day2.jpg" alt="9:00 営業開始" />
            </p>
            <p>
              ご予約のお客様を順番に施術していきます。予約時間は自分で決められるので無理な入客やノルマはありません。平日で２〜3名、土日祝で４〜５名のお客様を担当することが多いです。
            </p>
          </li>
          <li>
            <p class="ti">12:00 休憩・昼食</p>
            <p class="img">
              <img src="/images/day3.jpg" alt="12:00 休憩・昼食" />
            </p>
            <p>
              手の空いている時は都度の休憩ができます。昼食を摂ったりスタッフ同士でお喋りしたりレフレッシュして下さい。
            </p>
          </li>
          <li>
            <p class="ti">16:30 閉店準備清掃</p>
            <p class="img">
              <img src="/images/day4.jpg" alt="16:30 閉店準備清掃" />
            </p>
            <p>
              17時の時点でご予約がないスタッフは帰宅出来るので自分の使ったセット面や担当の清掃部分を中心に清掃を始めていきます。
            </p>
          </li>
          <li>
            <p class="ti">17:00〜18：退勤・営業終了</p>
            <p class="img">
              <img src="/images/day5.jpg" alt="17:00〜18：退勤・営業終了" />
            </p>
            <p>
              ほぼ18時に全員帰宅しています。１８時前に帰れる事も多いので家族との夕食、自分のケアなどプライベートを楽しんで下さい。今日も１日お疲れ様でした。
            </p>
          </li>
        </ul>
      </div>
    </section>
    <!-- // DAY -->

    <!-- RECRUIT -->
    <section id="RECRUIT">
      <div class="inner">
        <header>
          <h2>Recruitment<span class="sub">募集要項</span></h2>
        </header>
        <table>
          <tr>
            <th>応募条件</th>
            <td>
              <ul>
                <li>
                  スタイリスト1年以上の方（ブランクがあっても大丈夫です）<br />
                  ※アシスタントの雇用は現在行なっておりません。
                </li>
                <li>要美容師免許</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>給与</th>
            <td>
              ＜正社員＞
              <ul>
                <li>
                  基本給25万（最低保証）試用期間６ヶ月
                </li>
                <li>
                  歩合　技術売上から規定に沿って支給・実質40％
                </li>

              </ul>
              <div class="line"></div>
              ＜2023年度給与例＞
              <ul>
                <li>
                  30代半ばスタイリスト　給与45〜50万（総支給）
                </li>
                <li>
                  40代前半スタイリスト　入社２ヶ月　34万（総支給）
                </li>
              </ul>
              <div class="line"></div>
              ＜時短正社員＞<br>
              基本給
              <ul>
                <li>
                  時短A（17時まで）20万
                </li>
                <li>時短B（16時まで）18万</li>
                <li>時短C（15時まで）15万</li>
              </ul>
              規定以上で歩合が付きます。（試用期間６ヶ月）
              <div class="line"></div>
              ＜パート＞
              <ul>
                <li>
                  1,300〜2,000円（平日・土日一律）技術売上により昇給
                </li>
                <li>試用期間６ヶ月</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>勤務日・時間</th>
            <td>
              ＜正社員＞
              <ul>
                <li>
                  完全週休２日制　毎週火曜日＋１日（土日祝も可）<br />営業時間　９:00〜18:00<br />８:45出勤・17:00の時点で予約がなければ帰宅できます。
                </li>
              </ul>
              <div class="line"></div>
              ＜パート＞
              <ul>
                <li>
                  週４〜、５時間〜（９時〜17時の間で選べます）
                </li>
                <li>扶養内でなどご相談下さい</li>
                <li>規定クリアで社保加入出来ます</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>勤務外時間</th>
            <td>
              <ul>
                <li>
                  時間外でのミーティング・練習会・講習会はありません。
                </li>
                <li>
                  やむ得ない場合の時間外の場合は、社員・パートともに時間外時給が発生します。
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>その他の待遇</th>
            <td>
              <ul>
                <li>皆勤手当10,000円</li>
                <li>
                  社会保険完備（試用期間中から加入出来ます）
                </li>
                <li>写真（施術したお客様）買取手当</li>
                <li>回数券販売50％還元</li>
                <li>
                  有給休暇（規定クリアでパートも取得できます）
                </li>
                <li>交通費15,000円まで</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </section>
    <!-- // RECRUIT -->

    <!-- FLOW -->
    <section id="FLOW">
      <div class="inner">
        <header>
          <h2>Flow<span class="sub">採用までの流れ</span></h2>
        </header>
        <div class="flow_block">
          <div class="flow_block__list">
            <div class="flow_item">
              <div class="flow_item__img">
                <img src="/images/location_asaka.jpg" alt="美容室の外観" />
              </div>
              <p class="flow_item__title">1.見学とサロン説明</p>
              <p class="flow_item__text">
                このページの<a href="https://lin.ee/6Lr3DTg" target="_blank">LINE</a>よりお問い合わせ下さい。<br />
                ご希望サロンの見学と説明をさせて頂きます（即時面接はしていないので気軽にどうぞ）
              </p>
            </div>
            <div class="flow_item">
              <div class="flow_item__img">
                <img src="/images/pic_flow_item02.jpg" alt="美容室の外観" />
              </div>
              <p class="flow_item__title">2.面接</p>
              <p class="flow_item__text">
                見学と説明を受けて面接に進みたい方は、後日に改めて面接させて頂きます。<br />
                履歴書（写真添付）はこの時にご持参ください。
              </p>
            </div>
            <div class="flow_item">
              <div class="flow_item__img">
                <img src="/images/pic_flow_item03.jpg" alt="美容室の外観" />
              </div>
              <p class="flow_item__title">3.合否連絡</p>
              <p class="flow_item__text">
                社内基準にて審査させて頂き１週間以内に合否連絡させて頂きます。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //FLOW -->
    <!-- INDEX -->
    <div class="index_block" id="index02">
      <div class="index_block__inner">
        <ul class="index_block__list">
          <li class="index_block__item">
            <a href="#VOICE">スタッフの声</a>
          </li>
          <li class="index_block__item">
            <a href="#DAY">1日の流れ</a>
          </li>
          <li class="index_block__item">
            <a href="#RECRUIT">募集要項</a>
          </li>
          <li class="index_block__item">
            <a href="#FLOW">採用までの流れ</a>
          </li>
          <li class="index_block__item">
            <a href="#QA">よくある質問</a>
          </li>
          <li class="index_block__item">
            <a href="#APPLY">問い合わせ</a>
          </li>
        </ul>
        <div class="index_block__line">
          <a href="https://lin.ee/6Lr3DTg" target="_blank"><span>サロン見学希望・働き方の相談、質問はこちらに</span> </a>
        </div>
      </div>
    </div>
    <!-- //INDEX -->

    <!-- QA -->
    <section id="QA">
      <div class="inner">
        <header>
          <h2>
            Q&nbsp;&amp;&nbsp;A<span class="sub">よくある質問</span>
          </h2>
        </header>
        <dl>
          <dt>どのようなお客様が来店されますか？</dt>
          <dd>
            サロンコンセプトを大人女性のみにしているので30代半ば〜の優しく穏やかな方が多いです。個性的なスタイルより年齢に合ったヘアケアを希望される方がほとんどです。
          </dd>
          <dt>結婚や出産でブランクがありますが大丈夫でしょうか？</dt>
          <dd>
            もちろん大丈夫です。1年程度のスタイリスト経験があり、3〜5年のブランクがあったスタッフも在籍しています。入店後、その方にあった内容で研修があります。
          </dd>
          <dt>新しいお店の技術やメニューが心配です</dt>
          <dd>
            弊社では２〜３ヶ月に1度、営業時間内に勉強会を行なっています。（パートスタッフも参加できるように午前中です）<br />
            みんなが初めてのものや、不安があるものなどを中心にしています。<br />
            一緒に楽しく勉強しましょう
          </dd>
          <dt>パート希望ですが働けますか？</dt>
          <dd>
            週４週〜、５時間〜のシフトをお願いしています。土日どちらかの出勤できる方は優先させて頂いてます。
          </dd>
          <dt>ノルマはありますか？</dt>
          <dd>
            美容師としての目指す目標は設定していますが、各店の平均単価が12,000〜15,000円になるように設定してあるので値段を気になさるお客様は来店されません。<br />
            来店されたお客様に満足して頂けるよう努力してもらえれば大丈夫です。再来率が著しく低い場合はカウンセリングなど見直しサポートをします。
          </dd>
          <dt>小さな子供がいますが大丈夫ですか？</dt>
          <dd>
            2歳〜小学生のお子さんがいるスタッフも在籍しています。急なお休みも当然あるものだと考えていますし、お子さんの行事なども遠慮なく休めます。<br />
            急な休み理由はお子さんだけでなく誰にでもある事なので協力しあっています。
          </dd>
          <dt>パートから社員になれますか？</dt>
          <dd>
            正社員登用制度があります。<br />
            お子さんの成長に合わせ正社員になったスタッフ、他業種との兼業から正社員になったスタッフなどもいます。
          </dd>
          <dt>ミーティングや練習会はありますか？</dt>
          <dd>
            集まってのミーティングはなく連絡事項はLINEグループで完結しています。練習会は営業時間内に行いパートさんが参加する場合は時給をお支払いしています。<br />
            スタッフ個人の時間を会社が奪うことはありません。
          </dd>
          <dt>給料や他の詳細が聞きたいです</dt>
          <dd>
            お給料は社内規定に沿って基本給に歩合が上乗せになります。総額で大体技術売上の40％<br />
            になります。パートの場合も技術売上に対しの歩合時給です。<br />
            見学・サロン説明で代表の石井からサロンについてのお話をさせて頂く時間を作り質問もお答えします。即時の面接は受け付けていないのでお気軽に話を聞きに来て下さい。
          </dd>
        </dl>
      </div>
    </section>
    <!-- // QA -->

    <!-- APPLY -->
    <section id="APPLY">
      <div class="inner">
        <header>
          <h2>Apply<span class="sub">応募・お問い合わせ</span></h2>
        </header>
        <div class="article">
          <figure class="is-pc">
            <img src="/images/owner.jpg" alt="採用担当" class="owner" />
            <figcaption>採用担当 石井</figcaption>
          </figure>
          <div class="troubleTop">
            <h4>1//jour代表メッセージ</h4>
            <p>1//jour代表の石井です</p>
            <p>
            過去は大型サロンの技術責任者やシステム構築マネージャーなどを兼任しサロン営業後も深夜２時まで後輩のためにと働き、独立後もどこに行っても通じる技術をと営業後の練習など指導してきました。
            </p>
            <p>でも、美容師という職業は休憩もあまり取れない激務、長い拘束時間に少ない休日、その他に営業後の練習会やミーティング、休日の講習会参加などÏ・・・
自分の時間に自己投資をするのが当たり前できた世代ですが、こんな事で美容師を続ける人はいるのだろうか？と疑問を持ちました。</p>
            <p>
            そこで、仕事のための人生ではなく『人生を楽しむための１つの手段が仕事』であると感じ
‘’プライベートも充実させながら美容師を楽しむ‘’仕事をしてもらいたいと思い再構築したのが「1//jour」です。
            </p>
            <p>
             私の考えは
            </p>
             <p>・プライベートが充実しないと人に優しくなれない、人間としての魅力が育たない</p>
            <p>・美容師としての楽しさ・やりがいを大切にしたい</p>
            <p>
           共感してくれるスタッフが助け合って働いています。
            </p>
            <p>エイジングに合わせた美容を楽しみながら、オトナ女性の美容師同士で一緒に働きませんか？</p>
            <p>まずはお問い合わせください</p>
          </div>
          <figure class="is-sp">
            <img src="/images/owner.jpg" alt="採用担当" class="owner" />
            <figcaption>採用担当 石井</figcaption>
          </figure>
          <table>
            <tr>
              <th colspan="2">LINEからのお問い合わせ</th>
            </tr>
            <tr>
              <td colspan="4">
                ●お名前 ●電話番号
                ●美容師歴・年数（スタイリスト歴）
                ●正社員orパート希望<br />以上の内容を添えてご連絡いただけると助かります。
              </td>
            </tr>
            <tr>
              <th colspan="2">お電話からのお問い合わせ</th>
              <td class="imgbox" colspan="2">
                <p class="tel">048-299-8180</p>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                「求人を見て電話しました」とお伝えください。
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <!-- // APPLY -->

    <!-- CONTACT -->
    <section id="CONTACT">
      <div class="inner">
        <ul class="col3">
          <!-- <li>
                        <a href="https://1jour.jp/" target="_blank"
                            ><img
                                src="/images/logo.png"
                                alt="1//jour hairworks"
                        /></a>
                    </li> -->
          <li>
            <img src="/images/location_asaka.jpg" alt="1//jour hairworks" />
          </li>
          <li>
            <p>1//jour hairworks<br />アンジュール　ヘアワークス</p>
            <p>
              住所：埼玉県朝霞市仲町1−11−４７<br />電話：048-299-8180
              <br />定休日：火曜日<br />営業時間：9:00~18:00
            </p>
            <p>
              <a href="//goo.gl/maps/yPJHLWW8FxyVPG7Z8" target="_blank" class="google">Google Map</a>
            </p>
          </li>
        </ul>
        <ul class="col3">
          <li>
            <img src="/images/location_wako.jpg" alt="1//jour hairworks" />
          </li>
          <li>
            <p>1//jour coloré <br />アンジュール　コロレ</p>
            <p>
              住所：埼玉県和光市本町5−21<br />電話：048-423-9900<br />定休日：火曜日<br />営業時間：9:00~18:00
            </p>
            <p>
              <a href="https://maps.app.goo.gl/jXzWkoerA91YFyzT6" target="_blank" class="google">Google Map</a>
            </p>
          </li>
        </ul>
      </div>
    </section>
    <!-- // CONTACT -->
    <!-- INDEX -->
    <div class="index_block" id="index03">
      <div class="index_block__inner">
        <ul class="index_block__list">
          <li class="index_block__item">
            <a href="#VOICE">スタッフの声</a>
          </li>
          <li class="index_block__item">
            <a href="#DAY">1日の流れ</a>
          </li>
          <li class="index_block__item">
            <a href="#RECRUIT">募集要項</a>
          </li>
          <li class="index_block__item">
            <a href="#FLOW">採用までの流れ</a>
          </li>
          <li class="index_block__item">
            <a href="#QA">よくある質問</a>
          </li>
          <li class="index_block__item">
            <a href="#APPLY">問い合わせ</a>
          </li>
        </ul>
        <div class="index_block__line">
          <a href="https://lin.ee/6Lr3DTg" target="_blank"><span>サロン見学希望・働き方の相談、質問はこちらに</span> </a>
        </div>
      </div>
    </div>
    <!-- //INDEX -->
  </div>
</div>
<%- include ('components/_footer') %>